@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../node_modules/layerchart/dist';
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/wintry";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@import "@skeletonlabs/skeleton/optional/presets";
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

/* @import "@layerstack/tailwind/themes/skeleton.css"; */
@theme {
	/* Define additional color (Skeleton provides all the other `surface-*` colors (but they need remapped for charts */
	--color-surface-content: var(--base-font-color);
}

.lc-root-container {
	--color-surface-100: var(--color-surface-50);
	--color-surface-200: var(--color-surface-100);
	--color-surface-300: var(--color-surface-200);
	--color-surface-content: var(--base-font-color);

	html[data-mode="dark"] & {
		--color-surface-100: var(--color-surface-700);
		--color-surface-200: var(--color-surface-800);
		--color-surface-300: var(--color-surface-900);
		--color-surface-content: var(--base-font-color-dark);
	}
}
